*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.topnav{
    display: flex;
    margin-left: 700px;
    margin-top: 20px;
    background: blueviolet;
    height: 50px;
    padding-top: 10px;
    z-index: 1;
    

}
body{
    background: rgb(243, 235, 251);
}
.Home{
    flex: 1;
    background: blueviolet;
    margin-left: -30px;
    margin-top: -50px;
    height: 90px;
    padding: 50px 0px 0px 60px;
    border-radius: 10px;
}
.Home:hover{
    background: black;
    color: white;
    transition: all 0.5s;
    transform: translateY(10px);
}
.notifications{
    flex: 1.4;
    background: blueviolet;
    margin-left: -30px;
    margin-top: -50px;
    height: 90px;
    padding: 50px 0px 0px 60px;
    border-radius: 10px;
}
.notifications:hover{
    background: black;
    color: white;
    transition: all 0.5s;
    transform: translateY(10px);
}
.Profile{
    flex: 1;
    background: blueviolet;
    margin-left: -30px;
    margin-top: -50px;
    height: 90px;
    padding: 50px 0px 0px 60px;
    border-radius: 10px;
}
.Profile:hover{
    background: black;
    color: white;
    transition: all 0.5s;
    transform: translateY(10px);
}
.Logout{
    flex: 1;
    background: green;
    margin-left: -30px;
    margin-top: -50px;
    height: 90px;
    padding: 50px 50px 0px 30px;
    color: white;
    text-decoration: none;
}
.Logout:hover{
    background: red;
    color: white;
}
.sidemenu{
    margin-top: 80px;
    background: rgba(0, 0, 0, 0.137);
    padding-top: 10px;
    display: inline-block;
    width: 190px;
    margin-left: 40px;
    margin-top: 0px;
    height: 630px;
    border-radius: 30px;
    animation-name: side;
    animation-iteration-count: 1;
    animation-duration: 2s;

}
#side2{
    background: blue;
}

#side2:hover{

    color: white;
    transition: all 0.5s;
    transform: translateX(10px);
    filter: drop-shadow(yellow 0px 2px 5px);
    
}
.header{
    z-index: 2;
}
.ani2{
    z-index: -1;
    border-radius: 30px;
    background: rgb(175, 175, 255);
    /* width: 200px; */
    margin-left: 30px;
    padding-right: 50px;
    padding-top: -30px;
    animation-name: side2;
    animation-iteration-count: 1;
    animation-duration: 1s;
}
.ttt{
    margin-left: 450px;
    margin-top: 30px;
    font-size: 28px;
    color: blue;
    }
.progress{
    width: 400px;
    height: 10px;
    background: blue;
    margin-left: 190px;
    margin-top: -115px;
    border-radius: 20px;
}
.progresss{
    width: 300px;
    height: 10px;
    background: rgba(58, 58, 58, 0.171);
    margin-left: 600px;
    margin-top: -30px;
    border-radius: 20px;

}

#car{
    margin-left: 570px;
    margin-top: -70px;
    color: black;
    
}
#icon2{
    margin-left: 440px;
    margin-top: -30px;
    color: black;
}

.side{
    margin-top: 8px;
    margin-left: 20px;
    display: flex;
    height: 180px;
    width: 150px;
    text-indent: 5px;
    padding-left:25px;
    padding-top: 66px;
    font-size: 22px;
    border: none;
    color: white;
background: rgb(148, 148, 148);    
border-radius: 10px;
    
    
}
.side:hover{
    background: black;
    color: white;
    transition: all 0.5s;
    transform: translateX(10px);
    filter: drop-shadow(yellow 0px 2px 5px);
}
.content{
    display: flex;
}
.rides{
    margin-left: 100px;
    margin-top: 70px;
    background: white;
    text-indent: 380px;
    padding-top: 115px;
    font-size: 20px;
    text-decoration: none;
    width: 900px;
    height: 150px;
    border-radius: 10px;
    
}
.rides2{
    margin-left: -350px;
    margin-top: 60px;
    background: white;
    text-indent: 380px;
    padding-top: 115px;
    font-size: 20px;
    text-decoration: none;
    width: 900px;
    height: 150px;
    border-radius: 10px;
}
.rides3{
    margin-left: -350px;
    margin-top: 20px;
    background: white;
    text-indent: 380px;
    padding-top: 115px;
    font-size: 20px;
    text-decoration: none;
    width: 900px;
    height: 150px;
    border-radius: 10px;
}
@keyframes side{
        0%{
    opacity: 0;
    transform: translateX(20px);
        }
        100%{
    opacity: 1;
    transform: translateX(0px);}

}
@keyframes side2{
        0%{
    opacity: 0;
    transform: translateX(-20px);
        }
        100%{
    opacity: 1;
    transform: translateX(0px);}

}