* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.presentation {
  display: flex;

}
.intorduction {
  padding: 5px 0px 0px 0px;
  margin-left: 80px;

}
input {
  width: 400px;
  height: 60px;
  border-radius: 10px;
  border: none;
  background: rgba(128, 128, 128, 0.219);
  text-indent: 20px;
 
}
.input{
  padding-top: 50px;
}
.grup{
  display: flex;
  align-items: center;
}
.alternative{
  text-decoration: none;
  font-size: 15px;
}
button {
  width: 150px;
  height: 40px;
  margin-left: 140px;
  background: rgb(94, 118, 255);
  border-radius: 5px;
  color: white;
  border: none;
}
button:hover {
  width: 150px;
  height: 40px;
  margin-left: 140px;
  background:green;
  color: whitesmoke;
  border: none;
}
.color {
  background:linear-gradient(to bottom, rgba(1, 0, 49, 0.979), blue, white);
  margin-left: 200px;
  width: 100%;
  height: 100vh;
}
.img {
  width: 100%;
  padding-left: 50px;
  padding-right: 20px;
  filter: drop-shadow(0px 5px 11px);
  animation: drop 1.5s ease;
}
@keyframes drop{
  0%{
    opacity: 0;
    transform: translateY(-80px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

.p {
  text-align: left;
  font-size: 20px;
  margin-left:10px;
  margin-top: 90px;
font-family: 'Roboto', sans-serif;
color: whitesmoke;
animation: drop 1.5s ease;
}
.logo{

}

.p2 {
  font-size: 60px;
  margin-left: 50px;
  color: white;
font-family: Georgia, 'Times New Roman', Times, serif;
animation: drop 1.5s ease;
}
.hum{
margin-left: 580px;
margin-top: 30px;
width: 20px;
animation: slide 1.5s ease;
}
@keyframes slide{
  0%{
    opacity: 0;
    transform: translateX(-20px);
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}
.other{
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.pa{
  flex: 1;
  color:black;
  font-family: sans-serif;}

#facebook{
  color: blue;
  flex: 0.4;
}
#twitter{
  flex: 0.4;
  color: rgb(6, 184, 255);
}
#pinterest{
    flex: 0.4;
    color: rgb(221, 0, 0);

}
@media screen and (max-width: 700px){
  .input{
    margin-top: 30px;
  }
  input {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background: rgba(128, 128, 128, 0.219);
  text-indent: 20px;
 
}
button {
  width: 150px;
  height: 40px;
  margin-left: 50px;
  background: rgb(94, 118, 255);
  border-radius: 5px;
  color: white;
  border: none;
}
  .body{
    align-items: center;
    margin-left: 10px;
  }
  .presentation {
  display: column;
}
.intorduction {
  margin-left: 30px;
  margin-right: 0px;
  
}
.color{
  display: none;
}
.logo{
background: linear-gradient(to right, white, rgba(0, 12, 122, 0.637), white);
border-radius: 5px;
display: block;


}
}
